*{
	margin:0; 	
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

a{
	text-decoration: none;

}
a:hover{
	text-decoration: none;
}
li{
	list-style: none;
}
p{
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;

}
i{
	color: #2fccd0;

}
.welcome{
	font-weight: bold;
	color: black;
	font-size:36px;
	/*margin-bottom: 240px;*/

}
.extradiv h2, .servicediv h2{
	font-size: 0.9rem;
	margin: 20px 0 15px 0;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 4px;
}


.header{
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)) ,url('../image/45.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon(100% 0%,100% 77%,50% 100%,0 75%,0 0);
	position: relative;
}
.header:before{
	content: "";
	position: absolute;
	top:0%;
	bottom: 0%;
	left:0%;
	right: 0;
	z-index: -1;
	opacity: .4;
	background:linear-gradient(to right,#1e5799 0%,#3ccdbb 0%, #16c9f6 100% );


}
.navbar:before{
	content: "";
	position: absolute;
	top:0%;
	bottom: 0%;
	left:0%;
	right: 0;
	z-index: -1;
	opacity: .4;
	background:linear-gradient(to right,#1e5799 0%,#3ccdbb 0%, #16c9f6 100% );



}
.nav-item a{ 
	color:black!important;
	font-weight: bold;
	margin:15px;
	font-size: 20px;
	text-align: center;
}

.nav-item a:hover{ 
	border-bottom: 5px solid #f7a10c;
	border-top:5px solid #db1d16;	
	
}
@media only screen and (max-width: 600px) {
	.nav-item a:hover{ 
	border-bottom: 0px solid #f7a10c;
	border-top:0px solid #db1d16;	
	
}

}
.header-section{
	width: 100%;
	height: inherit;
	position: relative;
	text-align: center;
	color: white;

}
.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
/*for microsoft*/
	-ms-transform: translate(-50%,-50%);
	/*safari firefox*/
	-webkit-transform: translate(-50%,-50%);
}
.header-buttons a{
	border:1px solid #fff;
	border-radius: 100px;
	margin:0 5px;
	padding: 12px 35px;
	outline: none;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2.2;
	text-align: center;


}

.header-buttons a:hover{
	background: #fff;
	color: #50d1c0;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);

}
.center-div p{
	font-size: 1.3rem;
	padding:  10px 0 20px 0;
	/*top left buttom right*/
	color: white;

}
/*extra header div css strat*/
.header-extradiv{
	width: 100%;
	height: auto;
	margin:100px 0;
	text-align: center;


}
.extradiv{
	background: #fff;
	border: medium none;
	padding: 50px!important;
	border-radius: 3px;
	transition: 

}
.extradiv:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
	transform:translateY(-20px);

}
/*end*/
/*offer css start*/
.serviceoffers{
background:#f7f7f9;



}
.headings h1{
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;


}
.names h1{
	color:#2e2e2e;
	font-size: 2.4rem;
	font-weight: bold;


}
.serviceicon{
	/*font-size: 890px;*/
	/*text-align: center;
	margin-top: 90px;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
/*end*/
 /*team start*/
 .team{
 	width: 100%;
 	height: 100vh;

 }
 @media only screen and (max-width: 600px){
 	.team{
 	width: 100%;
 	height: 200vh;

 }
 }
 .team img{
 width: 200px;
 height: 200px;
 border-radius: 50%;
 margin-top: 20px;
 margin-left: 75px;
 }
.profilepic{
 margin-top: 50px;


 }
 .NEWCARD{
 	border:2px solid gray;
 }
 .NEWCARD:HOVER{
 	background:#16c9f6;
 	border-bottom-left-radius: 50px;
 	border-top-right-radius: 50px;
 	transform: translateY(-20px);
 	/*clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);*/
 }

  .profilepic img{
  		filter: grayscale(1);
  		
  		  }
  .profile{
  		border:1px solid red;
	border-radius: 100px;
	/*margin-buttom:0 5px;*/
	margin-bottom: 10px;
	/*padding: 12px 35px;*/
	outline: none;
	color:white;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2.2;
	text-align: center;
width: 200px;
margin-left: 70px;
background:blue;
  }
  .profile:hover{
  	color: white;
  	/*font-size: 56px;*/
  }

  
   .profilepic  img:hover{
  	filter: grayscale(0);
  	cursor: pointer;

  }
  .profilepic h2{
  	font-size: 22px;
  	font-weight: bold;
  	margin-top: 15px;
  	color:#007bff!important; 
  }
    .profilepic h3{
  	font-size: 16px;
  	font-weight: bold;
  	margin-top: 15px;
  	 
  }
  .profilepic .fa{
  	margin-left: 30px;
  	padding: 5px;
  	font-size: 24px;
  	color: black;
  }
 /*end*/
/*project-work start*/
.project-work{
	margin:100px 0;
}
.project-work h1{
	font-size: 2rem;
	text-align: center;
}
/*end*/
/*pricing css start */
.pricing{

	width: 100%;
	height: 100vh;
	padding:50px;
	position: relative;
		background:linear-gradient(160deg,  #16c9f6 55%,#ffff 0% );

}
@media only screen and (max-width: 600px){
	.pricing{
	width: 100%;
	height: 250vh;

	padding:50px;
	position: relative;
		background:linear-gradient(160deg,  #16c9f6 55%,#ffff 0% );

}

}
.pricing:before{
	content: "";
	position: absolute;
	top:0%;
	bottom: 0%;
	left:0%;
	right: 0;
	z-index: -1;
	/*opacity: .4;*/
	/*background: red;*/


}
.money{
	font-size: 40px;
	line-height: 1;
	color: #606060;
}
.card{
	transition: 0.4s ease;

}
.card-header{
	font-size: 1.6rem;
	font-weight: bold;
	background: #fff!important;
	padding: 25px !important;
	text-transform: uppercase; 
}
.card-body{
	padding: 30px 0px!important;

}
.card-body li{
	margin:10px 0;
	font-weight: 400px;
	font-size: 15px;
	line-height: 1.6;
	color: #606060;



}
.card-footer{
		font-size: 1.2rem;
	font-weight: bold;
	background: white!important;
	padding:30px 0!important;
}
.card-footer a{
	border:1px solid gray;
	border-radius: 100px;
	margin:0 5px;
	padding: 12px 35px;
	outline: none;
	color: gray;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 2.5;
	text-align: center;
	font-weight: bold;

	/*box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);*/


}
.card-footer a:hover{
	background:#16c9f6;
	color: #fff;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);

}
.cardd:hover{

	transform: translateY(-20px);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);

}
.card:hover .card-header,.card:hover .money{
	color: #50d1c0;
}
/*end*/
/*happy client css start*/
.happyclients{
	width: 100%;
	height: 100vh;
	padding: 80px 0;
	/*background: red;*/

}
@media only screen and (max-width: 600px){
	.happyclients{
	width: 100%;
	height: 175vh;
	padding: 80px 0;
	/*background: red;*/

}
	}
.box{
	text-align: center;
	border: 3px solid #16c9f6;
	border-radius: 2px;
	transition: 0.3s ease;
	/*margin-left: 50px;*/
	/*margin-bottom: 40px;*/
	width: 100%;
	/*margin-left: 50px;*/
}
.box:hover{
	background: #16c9f6;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.box:hover p{
color: white;
}
.carousel-indicators{
	position: absolute;
	right: 0;
	bottom: -100px!important;
}
.carousel-indicators li{
	background:blue!important;
	border-radius: 50%!important;
}
.box img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-top: 30px;
	/*position: relative;*/
}
.box h1{
	font-size: 18px;
	font-size: 700;
	color: #000;
	margin-bottom: 10px;

}
.box h2{
	font-size: 13px;
	font-weight: 400px;
	color: #666666;
	margin-bottom: 20px;

}
/*end*/
/*contact us css start*/
.contactus{
	width: 100%;
	height: 100vh;
	padding: 80px 0;
	position: relative;

}
.contactus input[type=text],input[type=email],textarea{
	height: 50px;
	border: 3px solid gray;
}
.contactus:before{
content: "";
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: -1;
background: linear-gradient(330deg,#16c9f6 55%,#fff 0%);

}
/*end*/
/*newsletter start*/
.newsletter{
	width: 100%;
	height: auto;
	margin: 100px auto;
}
.nn{
	border-radius: 100px 0 0 100px!important;
	margin-top: 30px;
}
.btnn{
	border-radius: 0  100px 100px    0px!important;
	margin-top: 30px;
}
/*end*/
/*FOOTER START*/
.footersection{
	width: 100%;
	height: auto;
	padding: 70px 0 20px 0;
	background: #00abff;
	position: relative;

}
.footersection p{
	color: #fff;
}
.footersection li a{
	font-size: 0.9rem;
	line-height: 1.6;
	color: #fff;
	font-weight: 400;


}
.footersection h3{
	color: black;
	margin-bottom: 25px;
	font-size: 1.2rem!important;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0,0,0,0.);
}
.footerend{
		height: auto;
		background-color: black;
}

/*ebackground: black;
nd*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:blue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}